<div>
  <label for="name" class="labelsTxt">Word 1: </label>
  <input id="word1" [(ngModel)]="word.word1" placeholder="word 1" class="caixaTexto"> 
  <p></p>
  <label for="name" class="labelsTxt">Word 2: </label>
  <input id="word2" [(ngModel)]="word.word2" placeholder="word 2" class="caixaTexto">
  <p></p>
</div>
<div>
  <div>
    <button (click)="send()" class="button">Send</button>
    <label id="concat" class=labelsTxtButton>{{success}}</label>
  </div>
  
</div>
