
.caixaTexto{
    width: 70%;
    border-radius: 5px;
}
.labelsTxt{
    font-weight: bold;
    color: rgb(112, 128, 144);
    font-size: 16px;
    font-family: sans-serif;
    width: 30%;
    text-align: right;
}
.labelsTxtButton{
    font-weight: bold;
    color: rgb(247, 8, 8);
    font-size: 14px;
    font-family: sans-serif;
    text-align: right;
    padding-left: 15px;
  }
  .button{
    width: 40%;
    border-radius: 5px;
    padding-right: 10px;
}