.tituloPrincipal{
    font-weight: bold;
    color: rgb(25, 25, 112);
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
    column-span: 8;
    padding-left: 10px;
}
.tablePrincipal{
    padding: 10px;
    border-radius: 15px;
    background-color: darkgoldenrod;
    width: 350px;
    align-content: center;
}
.divTitle{
    width: 100%;
    background-color: darkgoldenrod;
}
.divTable{
    padding-top: 20px;
    padding: 10px;
    border-radius: 15px;
    width: 350px;
}