
<div class="tablePrincipal">
  
    <label class="tituloPrincipal">{{title}}</label>
  
  <!--div>
    <button (click)="subscribeToNotifications()">Subscribe to Notifications</button><form>
    <textarea style="width: 50%;height: 70px;" [(ngModel)]="payload" name="payload">
    </textarea>
    </form><button (click)="triggerMessage()" type="submit">Trigger Message</button><router-outlet></router-outlet>
  </div-->
  
</div>
<div class="divTable">
  <div>
    <app-words></app-words>
  </div>
  
</div>
